* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

img {
    max-width: 100%;
    width: auto;
    border-radius: 50%;
}

li {
    list-style: none;
    text-decoration: none;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-family: "Inter", serif;
}

.image-wrapper {
    width: 150px;
    margin: 0 auto;
}

.profile-card {
    width: 500px;
    background-color: #f8f8f0;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

h1 {
    margin: 10px;
}

.short-bio {
    margin: 10px 0;
    font-size: 1.3rem;
    font-family: "Inter", serif;
}

.location {
    margin-bottom: 2px;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 1.5em;
    margin: 15px;
}

.social-links li i {
    color: #262626;
    font-size: 1.5rem;
}